@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --preto-claro: #2b2d42ff;
    --cinza: #8d99aeff;
    --branco: #edf2f4ff;
    --vermelho: #ef233cff;
    --titulo:"Saira", sans-serif;
    --texto:"Playfair Display", serif;

}
body{
    background-color: var(--vermelho);
    font-family: var(--texto)
}